#shouye .center{width:950px;height:1164px;margin:0 auto;}
#shouye .center .first{height:223px;width:100%;}
#shouye .center .first a{float:left;margin:45px 0 69px 0;}
#shouye .center .first .a1{background:url(images/ABUIABAEGAAgq-77rgUoq6_nkQQwtgE4ggE.png)no-repeat;
width:182px;height:130px;}
#shouye .center .first .a2{background:url(images/ABUIABAEGAAgmPv7rgUo3MfZ4gQwtgE4ggE.png)no-repeat;
width:182px;height:130px;}
#shouye .center .first .a3{background:url(images/ABUIABAEGAAgtPv7rgUotsCw1AYwtgE4ggE.png)no-repeat;
width:182px;height:130px;}
#shouye .center .first .a4{background:url(images/ABUIABAEGAAg1fv7rgUo6qXjmQYwtgE4ggE.png)no-repeat;
width:182px;height:130px;}
#shouye .center .first .a5{background:url(images/ABUIABAEGAAg6Pv7rgUoz5KdowUwtgE4ggE.png)no-repeat;
width:182px;height:130px;}
#shouye .center .first .a1:hover{background:url(images/ABUIABAEGAAghID8rgUo8q34uAIwtgE4ggE.png)no-repeat;}
#shouye .center .first .a2:hover{background:url(images/ABUIABAEGAAgoYD8rgUoorrSsgIwtgE4ggE.png)no-repeat;}
#shouye .center .first .a3:hover{background:url(images/ABUIABAEGAAgvID8rgUouL-FwwYwtgE4ggE.png)no-repeat;}
#shouye .center .first .a4:hover{background:url(images/ABUIABAEGAAg2YD8rgUotIm-sQQwtgE4ggE.png)no-repeat;}
#shouye .center .first .a5:hover{background:url(images/ABUIABAEGAAg94D8rgUowvW4dDC2ATiCAQ.png)no-repeat;}
#shouye .center .second{height:32px;width:950px;border-bottom:1px solid #dadbdc;font-size:19px;line-height:32px;font-weight:bold;height:32px;display:inline-block;width:950px;background:#2d3237;color:#ff0000;
text-align:center;}
#shouye .center .third{height:56px;width:100%;}
#shouye .center .third .left{width:430px;height:1px;background:black;display:inline-block;}
#shouye .center .third .mid{font-size:14px;margin:2px 10px 0;display:inline-block;line-height:24px;font-weight:bold;cursor:pointer;}
#shouye .center .third .right{width:430px;height:1px;background:black;display:inline-block;}
#shouye .center .fouth{height:357px;width:100%;}
#shouye .center .fouth img{width:172px;height:300px;margin-right:16px;}
#shouye .center .fifth{height:32px;width:950px;border-bottom:1px solid #dadbdc;font-size:19px;line-height:32px;font-weight:bold;height:32px;display:inline-block;width:950px;background:#2d3237;color:#ff0000;
text-align:center;}
#shouye .center .fifth span{color:white;font-size:19px;line-height:32px;font-weight:bold;}
#shouye .center .sixth{height:56px;width:100%;}
#shouye .center .sixth .left{width:430px;height:1px;background:black;display:inline-block;}
#shouye .center .sixth .mid{font-size:14px;margin:2px 10px 0;display:inline-block;line-height:24px;font-weight:bold;cursor:pointer;}
#shouye .center .sixth .right{width:430px;height:1px;background:black;display:inline-block;}
#shouye .center .seven{height:172px;width:100%;text-align:center;}
#shouye .center .seven p{text-align:center;font-size:13px;color:#666666;margin-bottom:14px;}
#shouye .center .seven .p1{font-size:17px;}
#shouye .center .seven .p1 span{font-size:17px;color:block;font-weight:bold;}
#shouye .center .eight{width:100%;height:154px;}
#shouye .center .eight a{}
#shouye .center .eight a i{width:23px;height:23px;display:inline-block;margin:0 14px 0 9px;vertical-align:middle;}
#shouye .center .eight a .i1{background:url(images/index1_16.gif) no-repeat;margin-left:110px;}
#shouye .center .eight a .i2{background:url(images/index1_18.gif) no-repeat;}
#shouye .center .eight a .i3{background:url(images/index1_20.gif) no-repeat;}
#shouye .center .eight a .i4{background:url(images/index1_22.gif) no-repeat;}
#shouye .center .eight a b{display:inline-block;margin-left:14px;background:url(images/index1_25.gif) no-repeat;width:15px;height:9px;}
#shouye .center .eight a span{color:#666666;display:inline-block;margin-bottom:3px;}
#shouye .footer{width:100%;height:117px;border-top:1px solid #b4b4b4;background-color:#eaeaea;}
#shouye .footer p{text-align:center;font-size:11px;line-height:22px;}











